.color-variant-dialog {
    padding: var(--app-padding);
  }
  
  .color-variant-dialog-title {
    margin-bottom: 20px;
  }
  
  .color-variant-dialog form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .color-picker {
    margin-top: 20px;
  }
  