.dialog-title {
  font-weight: bold;
  padding: 16px 24px;
}

.summary-title {
  margin-top: 16px;
}

.net-cost-box {
  margin-top: 16px;
}

.close-button {
  margin: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
