/* General Layout */
.product-detail {
  margin: 20px;
  padding-bottom: 100px;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.back-button span {
  margin-left: 8px;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-container {
  max-width: 800px;
  margin: 20px auto;
}

.product-carousel-image {
  height: 400px;
  object-fit: contain;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-meta p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

/* Meta Section */
.product-meta p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}


/* Margin at Bottom */
.bottom-margin {
  height: 100px;
}

/* Pricing Configuration Section */
.pricing-configurations {
  margin: 20px 0;
}

.config-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.config-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.config-inputs .MuiTextField-root {
  flex: 1;
}

.config-inputs button {
  height: 40px;
}