.container {
    padding: var(--app-padding);
  }
  
  .settings-title {
    margin-bottom: 20px;
  }
  
  .settings-slider {
    margin-bottom: 20px;
  }
  
  .settings-textfield {
    margin-top: 10px;
  }
  